@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  /* hmm */
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;

}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav {
  margin-left: auto;
  margin-right: 10px;
  /* hmm */
  position: absolute;
  top: 100%; /* Position the menu below the header */
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  display: none;
}

.nav.mobile {
  display: block;
  
}



.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  display: block;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #333;
}

.menu-toggle {
  /* display: none; */
  /* hmm */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 100;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;

}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .nav.mobile {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}